.task-skeleton {
  height: 120px;
  border-radius: 8px;
  border: 1px solid #e8ecf5;
  background: #fff;
  padding: 10px;
  margin-bottom: 6px;

  .ant-skeleton {
    .ant-skeleton-content {
      .ant-skeleton-title {
        margin-bottom: 12px;
      }

      .ant-skeleton-paragraph {
        margin-bottom: 0;

        > li {
          height: 12px;

          + li {
            margin-top: 8px;
          }
        }
      }
    }
  }
}
