.task-card-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-card-draggable {
  height: fit-content;
  width: 100%;
  transition: all 0.2s ease;
  margin-bottom: 6px;

  &.is-subtask {
    opacity: 0.9;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 50%;
      width: 16px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.card-shadow {
  border-radius: 8px;
  background-color: #ffffffb7;
  border: 1px solid var(--Schemes-Outline-Variant, #e8ecf5);
  margin-bottom: 6px;
}

.shadow-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: red;
}
