.board-column-outer {
  min-width: 264px;
  max-width: 264px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
  opacity: 1;
  visibility: visible;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;

  .empty-column-drop-target {
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin: 0 6px;
  }

  .board-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;

    &-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 16px;
      max-height: 100%;
    }

    &-header {
      flex-shrink: 0;
    }

    &-content {
      flex: 1;
      position: relative;
      max-height: calc(100% - 34px);
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
    }

    &-list {
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      contain: none !important;
      scrollbar-width: thin; /* For Firefox */
      scrollbar-color: transparent transparent; /* For Firefox - thumb and track color */
      transition: scrollbar-color 0.3s ease;

      /* Show scrollbar when scrolling in Firefox */
      &:hover,
      &:active {
        scrollbar-color: #adb3bde1 transparent; /* For Firefox */
      }

      /* For WebKit browsers (Chrome, Safari) */
      &::-webkit-scrollbar {
        width: 6px;
        height: 7px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.3s ease;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
      }

      /* Show scrollbar when scrolling in WebKit browsers */
      &:hover::-webkit-scrollbar-thumb,
      &:active::-webkit-scrollbar-thumb,
      &.scrolling::-webkit-scrollbar-thumb {
        background-color: #adb3bde1;
      }
    }
  }

  .is-dragging-over {
    .board-column-content {
      background-color: rgba(9, 30, 66, 0.04);
      border: 2px dashed rgba(9, 30, 66, 0.13);
      border-radius: 4px;
      transition: all 0.2s ease;
    }
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
    .board-column-content {
      visibility: hidden;
    }
  }
}

.board-column-outer-collapsed {
  min-width: 40px;
  max-width: 40px;
  cursor: pointer;

  .board-column-content {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    flex: none;
  }

  .board-column-header {
    justify-content: space-around !important;
  }

  .board-column {
    padding: 2px !important;
    min-height: 150px;
  }
}
